.root {
  font-family: Arial, Helvetica, sans-serif;
}

.subreddit {
}

.header {
  display: block;
  padding: 1rem;
  height: 3.25rem;
  background-color: rgb(10, 161, 143);
  background-position: center top;
  color: white;
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
}

.headerName {
  font-size: 1.75rem;
  font-weight: 500;
}

.lastUpdated {
}

.body {
  margin-top: 6rem;
}

.post {
  margin-top: 0.75rem;
  color: rgb(135, 138, 140);
  cursor: pointer;
  fill: rgb(135, 138, 140);
  overflow: hidden;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(204, 204, 204);
  padding: 0.5rem;
}

.author {
  color: rgb(120, 124, 126);
  float: right;
}

.thumbnail {
  float: left;
  margin-right: 0.5rem;
}

.thumbnailImage {
  width: 6rem;
  height: 6rem;
}

.title {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.score {

}

.postText {

}

.comments {

}

.picker {
  display: inline-block;
  margin-right: .5rem;
}

.pagination {
  float: right;
}

.paginationButton {
  display: block;
  margin-top: .25rem;
}